@{
    ViewData["Title"] = "Job Categories";
    ViewData["Menu"] = "JobCategories";
}

@model IEnumerable<JobSeeker.Models.JobCategory>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Job Categories</h1>
    <p class="mb-4">Sit laborum laboris cupidatat et culpa.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-controller="JobCategory" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>  Create</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @foreach (var Item in Model)
                        {
                            <tr>
                                <td style="width: 10%">@Item.Id</td>
                                <td>@Item.Name</td>
                                <td>@Item.Description</td>
                                <td style="width: 15%">
                                    <a class="btn btn-primary mr-1" asp-controller="JobCategory"
                                        asp-route-id="@Item.Id" asp-action="Edit"><i class="far fa-edit"></i>
                                        Edit</a>
                                    <a class="btn btn-outline-danger" asp-controller="JobCategory" asp-action="Delete" asp-route-id="@Item.Id"><i class="far fa-trash-alt"></i>
                                        Delete</a>
                                </td>
                            </tr>
                        }
                </table>
            </div>
        </div>
    </div>

</div>