
@{
    ViewData["Title"] = "Applicants";
    ViewData["Menu"] = "Applicants";
}

@model IEnumerable<JobSeeker.Models.Applicant>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Applicants</h1>
    <p class="mb-4">Minim non eiusmod non proident irure irure irure.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-controller="Applicant" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Seeker</th>
                            <th>Job Title</th>
                            <th>Status</th>
                            <th>AppliedAt</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Item in Model)
                        {
                            <tr>
                                <td>@if(Item.User?.ImageUrl != null){<img style="width: 40px; height: 40px; object-fit:cover;" class="rounded-circle" src="/storage/@Item.User?.ImageUrl" />}  @Item.User?.Name</td>
                                <td>@Item.Job?.Title</td>
                                <td>@Item.Status</td>
                                <td>@Item.AppliedAt?.ToString("yyyy-MM-dd")</td>
                                <td style="width: 15%">
                                    <a class="btn btn-primary mr-1" asp-controller="Applicant"
                                        asp-route-id="@Item.Id" asp-action="Edit"><i class="far fa-edit"></i>
                                        Edit</a>
                                    <a class="btn btn-outline-danger" asp-controller="Applicant" asp-action="Delete" asp-route-id="@Item.Id"><i class="far fa-trash-alt"></i>
                                        Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>