@{
    ViewData["Title"] = "Create Job";
    ViewData["Menu"] = "Jobs";
}

<div class="container-fluid">

    <div class="row d-flex justify-content-center">

        <div class="col-lg-4 mb-4">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Create Job</h1>
            </div>

            <div class="card shadow p-4">
                <p>Excepteur proident cupidatat laboris commodo.</p>
                <form class="user" method="post" asp-controller="Job" asp-action="Store" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Title" value="" placeholder="Enter Job Title...">
                    </div>
                    <div class="form-group">
                        <textarea name="Description" class="form-control" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group px-2">
                        <div>Cover</div>
                        <input type="file" name="ImageFile" class=mx-0 px-1 py-1">
                    </div>
                    <hr>

                    <div class="form-group">
                        <div>Published At</div>
                        <input type="date" class="form-control" name="PublishedAt">
                    </div>
                    <div class="form-group">
                        <div>Start Date</div>
                        <input type="date" class="form-control" name="StartDate">
                    </div>
                    <div class="form-group mb-3">
                        <div>End Date</div>
                        <input type="date" class="form-control" name="EndDate">
                    </div>
                    <hr>

                    <div class="form-group">
                        <div>Job Category</div>
                        <select name="JobCategoryId" class="form-control">
                            @foreach (var Item in ViewBag.JobCategories)
                            {
                                <option value="@Item.Id">@Item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div>Job Position</div>
                        <select name="JobPositionId" class="form-control">
                            @foreach (var Item in ViewBag.JobPositions)
                            {
                                <option value="@Item.Id">@Item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div>Recruiter</div>
                        <select name="RecruiterId" class="form-control">
                            @foreach (var Item in ViewBag.Recruiters)
                            {
                                <option value="@Item.Id">@Item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div>Organization</div>
                        <select name="OrganizationId" class="form-control">
                            @foreach (var Item in ViewBag.Organizations)
                            {
                                <option value="@Item.Id">@Item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div>Status</div>
                        <select name="status" class="form-control">
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Submit
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>