@{
    ViewData["Title"] = "Jobs";
    ViewData["Menu"] = "Jobs";
}

@model IEnumerable<JobSeeker.Models.Job>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Jobs</h1>
    <p class="mb-4">Lorem ipsum dolor sit amet</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-controller="Job" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create</a>

            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search shadow" asp-controller="Job" asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2" name="q" value="@ViewBag.q">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cover</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Organization</th>
                            <th>Recruiter</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Item in Model)
                        {
                            <tr>
                                <td style="width: 10%">@if(Item.ImageUrl != null){<img style="width: 100px; height: 60px; object-fit:cover;" class="rounded" src="/storage/@Item.ImageUrl" />}</td>
                                <td>@Item.Title</td>
                                <td>@Item.JobCategory?.Name</td>
                                <td>@if(Item.Organization?.ImageUrl != null){<img style="width: 40px; height: 40px; object-fit:cover;" class="rounded-circle" src="/storage/@Item.Organization?.ImageUrl" />}  @Item.Organization?.Name</td>
                                <td style="width: 10%">@if(Item.Recruiter?.ImageUrl != null){<img style="width: 40px; height: 40px; object-fit:cover;" class="rounded-circle" src="/storage/@Item.Recruiter?.ImageUrl" />} @Item.Recruiter?.Name</td>
                                <td>@Item.Status</td>
                                <td style="width: 15%">
                                    <a class="btn btn-primary mr-1" asp-controller="Job"
                                        asp-route-id="@Item.Id" asp-action="Edit"><i class="far fa-edit"></i>
                                        Edit</a>
                                    <a class="btn btn-outline-danger" asp-controller="Job" asp-action="Delete" asp-route-id="@Item.Id"><i class="far fa-trash-alt"></i>
                                        Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>